*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.top-section{
    display: flex;
    flex-wrap: wrap;
    justify-content:center; 
    background-color: #2D25A0;
    
}
#head-color{
  font-size: 42px;
    color: white;
    font-family:'Poppins' sans-serif;
    font-weight: 700;
    justify-content: center;
    padding-top: 200px;
    padding-left: 20px;
    text-align: center;
}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
    
  }
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    
  }
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.button:hover span {
    padding-right: 25px;
  }
  
.button:hover span:after {
    opacity: 1;
    right: 0;
  }

.banner{
    background-color: #2D25A0;     
    
  }
 
  .main-body{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    background-color: lightgrey ;
  }

  .player-box{
    box-sizing: content-box;
    background-color: white;
    width: 330px;
    height: 474px;
    padding-left: 15px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   justify-content: center;

  }

  .player-details{
height: 104px;
width: 300px;
font-family: 'Poppins';
font-style: normal;
color: #6C6C6C;
font-weight: 200
;
  }

  .bottom-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgrey;}

.bottom-text1{
    height: 469px;
    width: 309;
    padding: 20px;
    width: 469px;
height: 309px;
left: 182px;
padding-top: 150px;
  }

  

  